.App {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .App {
    margin: 0 auto;
  }
}

header {
  background-color: silver;
  width: 86%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 7%;
}

header > h2 {
  font-size: 3vh;
}

header > p {
  font-size: 1.5vh;
  cursor: pointer;
}

.logout:hover {
  color: darkblue;
}

footer {
  background-color: black;
  color: white;
  width: 86%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 7%;
}

footer > p {
  color: silver;
  font-size: 1vh;
}

main {
  min-height: 86vh;
  width: 100%;
  padding: 1vh 7%;
}

.notfound {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound > h1 {
  font-size: 4vh;
}

.notfound > h3 {
  font-size: 3vh;
}

.notfound > .link {
  font-size: 2vh;
}

.loginBlock {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginFormItem {
  margin-bottom: 1vh;
  height: 2vh;
  width: 20vw;
  font-size: 2vh;
}

#formtitle {
  font-size: 3vh;
}

.loginFormItem {
  height: 3vh;
  font-size: 2vh;
}

.warning {
  color: red;
  font-size: 2vh;
}

.taskDesk {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}

.taskDetail {
  border-right: 1px solid grey;
  font-size: 1.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  main {
    min-height: 86vh;
    width: 98vw;
    padding: 1vh 0;
  }

  .task {
    width: 96vw;
  }

  .ttitle {
    width: 46vw;
    flex-shrink: 0;
  }

  .prioritet {
    width: 14vw;
  }

  .actor {
    width: 16vw;
  }

  .status {
    width: 12vw;
  }

  .finish {
    width: 16vw;
  }
}

@media screen and (min-width: 1441px) {
  main {
    min-height: 92vh;
    width: 100%;
    padding: 1vh 0;
  }

  .task {
    width: 1440px;
  }
  .ttitle {
    width: 692px;
  }

  .prioritet {
    width: 201px;
  }

  .actor {
    width: 230px;
  }

  .status {
    width: 173px;
  }

  .finish {
    width: 230px;
  }
}
.blackmirrorLoading {
  --dur: 1;
  position: relative;
  font-size: 100px;
  width: 1em;
  height: 1em;
  filter: blur(1px);
}

.blackmirrorLoading-part {
  --pos: 0em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.16em;
  height: 0.32em;
  margin: -0.16em 0 0 -0.08em;
  background: center no-repeat;
  background-image: url("data:image/svg+xml,\<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.347 21.936' fill='rgb(255,255,255)'>\<path d='\ m 8.325,0 -8.312,3.443\ c 1.807,4.858 1.802,10.204 -0.013,15.058\ l 8.292,3.435\	c 2.729,-7.055 2.7411917779653,-14.873 0.034,-21.936 z'/>\</svg>");
  animation: calc(var(--dur) * 1s) linear infinite blackmirrorLoading-anim;
  opacity: 0;
}

@keyframes blackmirrorLoading-anim {
  0% {
    --pos: 0.04em;
    opacity: 1;
    filter: drop-shadow(0 0 12px #fff);
  }

  20% {
    --pos: 0em;
  }

  100% {
    --pos: 0em;
    opacity: 0.2;
  }
}

.blackmirrorLoading-part:nth-child(1) {
  transform: rotate(0deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 1s);
}

.blackmirrorLoading-part:nth-child(2) {
  transform: rotate(45deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 2s);
}

.blackmirrorLoading-part:nth-child(3) {
  transform: rotate(90deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 3s);
}

.blackmirrorLoading-part:nth-child(4) {
  transform: rotate(135deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 4s);
}

.blackmirrorLoading-part:nth-child(5) {
  transform: rotate(180deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 5s);
}

.blackmirrorLoading-part:nth-child(6) {
  transform: rotate(225deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 6s);
}

.blackmirrorLoading-part:nth-child(7) {
  transform: rotate(270deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 7s);
}

.blackmirrorLoading-part:nth-child(8) {
  transform: rotate(315deg) translate(calc(0.4em + var(--pos)));
  animation-delay: calc(var(--dur) / 8 * 8s);
}

.modalcontainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  opacity: 0.5;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modaldialog {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.btn-place{
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.letters{
  margin: 0;
  padding: 0;
}
